.u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/Jan_Matejko_-_Staczyk_-_Google_Art_Project.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 727px;
}

.u-section-1 .u-text-1 {
  width: 549px;
  margin: 60px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 599px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 459px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 344px;
  }

  .u-section-1 .u-text-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 287px;
  }

  .u-section-1 .u-text-1 {
    width: 340px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 522px;
}

.u-section-2 .u-text-1 {
  animation-duration: 1000ms;
  margin: 59px 246px 0 570px;
}

.u-section-2 .u-text-2 {
  animation-duration: 1000ms;
  font-size: 1rem;
  margin: 20px 97px 0 570px;
}

.u-section-2 .u-btn-1 {
  border-style: none none solid;
  animation-duration: 1000ms;
  margin: 20px auto 0 952px;
  padding: 0;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  font-size: 3.75rem;
  margin: 0 712px 0 104px;
}

.u-section-2 .u-btn-2 {
  border-style: none;
  animation-duration: 1000ms;
  padding: 0;
}

.u-section-2 .u-text-4 {
  animation-duration: 1000ms;
  margin: 0 246px 0 570px;
}

.u-section-2 .u-text-5 {
  animation-duration: 1000ms;
  margin: 18px 97px 0 570px;
}

.u-section-2 .u-btn-3 {
  animation-duration: 1000ms;
  border-style: none none solid;
  margin: 18px auto 60px 952px;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    width: auto;
    margin-right: 146px;
    margin-left: 470px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-right: 0;
    margin-left: 467px;
  }

  .u-section-2 .u-btn-1 {
    margin-left: 849px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 612px;
    margin-left: 4px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-right: 146px;
    margin-left: 470px;
  }

  .u-section-2 .u-text-5 {
    width: auto;
    margin-right: -3px;
    margin-left: 470px;
  }

  .u-section-2 .u-btn-3 {
    margin-left: 852px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 504px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 56px;
    margin-right: 149px;
    margin-left: 247px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 18px;
    margin-left: 247px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 56px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-2 .u-text-3 {
    margin-top: -66px;
    margin-right: 396px;
    margin-left: 0;
  }

  .u-section-2 .u-text-4 {
    margin-top: 41px;
    margin-right: 149px;
    margin-left: 247px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 0;
    margin-left: 247px;
  }

  .u-section-2 .u-btn-3 {
    margin-bottom: 39px;
    margin-left: 629px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 712px;
  }

  .u-section-2 .u-text-1 {
    width: 324px;
    margin-top: 184px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-2 {
    width: 383px;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-btn-1 {
    align-self: center;
    margin-top: 25px;
    margin-right: auto;
  }

  .u-section-2 .u-text-3 {
    width: 324px;
    margin-top: -319px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-4 {
    margin-top: 309px;
    margin-left: 108px;
    margin-right: 108px;
  }

  .u-section-2 .u-text-5 {
    margin-top: 25px;
    margin-left: 34px;
    margin-right: 34px;
  }

  .u-section-2 .u-btn-3 {
    margin-top: 15px;
    margin-left: 225px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 626px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 60px;
    margin-left: 8px;
    margin-right: 8px;
  }

  .u-section-2 .u-text-2 {
    width: 340px;
    margin-left: 16px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 29px;
  }

  .u-section-2 .u-text-3 {
    font-size: 3rem;
    width: auto;
    margin-top: -273px;
    margin-left: 8px;
    margin-right: 8px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 272px;
    margin-left: 8px;
    margin-right: 8px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 16px;
    margin-right: -3px;
  }

  .u-section-2 .u-btn-3 {
    margin-bottom: -43px;
    margin-left: 125px;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 468px;
}

.u-section-3 .u-text-1 {
  animation-duration: 1000ms;
  margin: 160px 246px 0 570px;
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  font-size: 3.75rem;
  margin: -27px 730px 0 86px;
}

.u-section-3 .u-btn-1 {
  border-style: none;
  animation-duration: 1000ms;
  padding: 0;
}

.u-section-3 .u-text-3 {
  animation-duration: 1000ms;
  margin: -19px 97px 0 570px;
}

.u-section-3 .u-btn-2 {
  border-style: none none solid;
  animation-duration: 1000ms;
  margin: 18px 97px 60px auto;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-right: 146px;
    margin-left: 470px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 616px;
    margin-left: 0;
  }

  .u-section-3 .u-text-3 {
    margin-right: 0;
    margin-left: 467px;
  }

  .u-section-3 .u-btn-2 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-right: 36px;
    margin-left: 360px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: -11px;
    margin-right: 396px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-top: -35px;
    margin-right: 36px;
    margin-left: 360px;
  }

  .u-section-3 .u-btn-2 {
    margin-top: 20px;
    margin-right: 36px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 183px;
    margin-right: 46px;
    margin-left: 170px;
  }

  .u-section-3 .u-text-2 {
    margin-top: -189px;
    margin-right: 205px;
    margin-left: 11px;
  }

  .u-section-3 .u-text-3 {
    margin-top: 140px;
    margin-right: 46px;
    margin-left: 170px;
  }

  .u-section-3 .u-btn-2 {
    margin-top: 11px;
    margin-right: 88px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 426px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 8px;
    margin-right: 8px;
  }

  .u-section-3 .u-text-2 {
    font-size: 3rem;
    margin-left: 8px;
    margin-right: 8px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 8px;
    margin-right: 8px;
  }

  .u-section-3 .u-btn-2 {
    margin-right: auto;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 603px;
}

.u-section-4 .u-image-1 {
  width: 607px;
  height: 483px;
  margin: 60px auto 0 20px;
}

.u-section-4 .u-group-1 {
  width: 575px;
  background-image: none;
  min-height: 367px;
  animation-duration: 1000ms;
  margin: -425px 20px 60px auto;
}

.u-section-4 .u-container-layout-1 {
  padding: 20px 60px;
}

.u-section-4 .u-text-1 {
  margin: 101px 184px 0 0;
}

.u-section-4 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-4 .u-btn-1 {
  font-size: 0.875rem;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: normal;
  margin: 16px 20px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-4 .u-image-1 {
    width: 627px;
    margin-left: 0;
  }

  .u-section-4 .u-group-1 {
    width: 444px;
    margin-right: 0;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 35px;
    padding-right: 35px;
  }

  .u-section-4 .u-btn-1 {
    font-weight: 400;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 835px;
  }

  .u-section-4 .u-image-1 {
    width: 680px;
    height: 542px;
    margin-left: auto;
  }

  .u-section-4 .u-group-1 {
    width: 600px;
    margin-top: -231px;
    margin-right: 20px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 539px;
  }

  .u-section-4 .u-image-1 {
    width: 540px;
    height: 416px;
  }

  .u-section-4 .u-group-1 {
    width: 461px;
    margin-top: -391px;
    margin-right: auto;
    margin-bottom: 85px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 594px;
  }

  .u-section-4 .u-image-1 {
    width: 340px;
    height: 262px;
  }

  .u-section-4 .u-group-1 {
    width: 295px;
    min-height: 249px;
    margin-top: -139px;
    margin-right: 0;
    margin-bottom: 60px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 44px;
    margin-right: 0;
  }

  .u-section-4 .u-btn-1 {
    margin-right: 0;
  }
}.u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 372px;
}

.u-section-5 .u-text-1 {
  width: 780px;
  animation-duration: 1000ms;
  font-weight: bold;
  margin: 60px auto;
}

.u-section-5 .u-btn-1 {
  border-style: none none solid;
  padding: 0;
}

@media (max-width: 991px) {
  .u-section-5 .u-text-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-text-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    width: 340px;
  }
}