{% extends "Base.html" %}
{% load static %}
{% block title %}Portfolio | {{ project.title }}{% endblock %}
{% block custom-css %}
    <link
            rel="stylesheet"
            href="{% static 'css/portfolio-item.css' %}"/>
{% endblock %}
{% block portfolio_header %}

    <a href="{% url 'projects:projects' %}" class="active">
        <li>PORTFOLIO</li>
    </a>
{% endblock %} {% block portfolio_mobile_header %}
    <a href="{% url 'projects:projects' %}" class="active">
        <li>PORTFOLIO</li>
    </a>
{% endblock %}
{% block portfolio_footer %}
    <a href="{% url 'projects:projects' %}" class="active">
        <li>PORTFOLIO</li>
    </a>
{% endblock %}
{% block main %}

    <main class="portfolio-item-container">
        <article>
            <section>
                <div class="portfolio-item-title animated fadeInDown">
                    <h1>{{ project.title }}</h1>
                </div>
                <div class="portfolio-item col-12 animated fadeInDown">
                    <div class="portfolio-item-image col-12 col-xl-8">
                        <div class="image-container col-12">
                            <img src="{{ project.thumbnail1.url }}" alt="img"/>
                        </div>
                    </div>
                    <div class="portfolio-item-content col-12 col-xl-4">
                        <div class="col-sm-8 col-xl-12">
                            <div class="portfolio-item-content-title">
                                <a href="{{ project.github }}"><h1>{{ project.title }}</h1></a>
                            </div>
                            <div class="portfolio-item-content-date">{{ project.updated }}</div>
                            <div class="portfolio-item-content-text">
                                <p>{{ project.text|linebreaks }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </article>
    </main>
{% endblock %} {% block scripts %}
    <script src="{% static 'js/wow.min.js' %}"></script>
    <script>
        new WOW().init();
    </script>
    <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'js/utils.js' %}"></script>
    <script>
        const WITH_DELAY = false;
    </script>
    <script src="{% static 'js/showHeader.js' %}"></script>
        <script src="{% static 'js/showMenu.js' %}"></script>

{% endblock %}
