{% extends 'Blog/../Base.html' %}
{% load static %}
{% block custom-css %}<link rel="stylesheet" href="{% static 'Blog/Project.css' %}" media="screen">{% endblock %}
{% block title %}Projects     |     {{ Project.Title }}{% endblock %}
{% block Body %}u-body{% endblock %}
{% block main %}
   <section class="u-align-center u-clearfix u-section-1" id="sec-6a53">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1"><!--post_details--><!--post_details_options_json--><!--{"source":""}--><!--/post_details_options_json--><!--blog_post-->
        <div class="u-container-style u-expanded-width u-post-details u-post-details-1">
          <div class="u-container-layout u-valign-top u-container-layout-1">
            <div class="u-expanded-width u-video u-video-contain u-video-1">
              <div class="embed-responsive embed-responsive-1">
                <img alt="" class="u-blog-control u-expanded-width u-image u-image-default u-image-1" src="{{ Project.Thumbnail.url}}"><!--/blog_post_image--><!--blog_post_header-->
             </div>
            </div><!--blog_post_header-->
            <h2 class="u-blog-control u-text u-text-1">
              <a class="u-post-header-link" href="" ><!--blog_post_header_content-->{{Project.Title}}<!--/blog_post_header_content--></a>
            </h2><!--/blog_post_header--><!--blog_post_metadata-->
            <a href="{{ Project.Github }}">GITHUB</a>
          <div class="u-blog-control u-metadata u-text-grey-30 u-metadata-1"><!--blog_post_metadata_date-->
              <span class="u-meta-date u-meta-icon"><!--blog_post_metadata_date_content-->{{  Project.Publish }}<!--/blog_post_metadata_date_content--></span><!--/blog_post_metadata_date--><!--blog_post_metadata_category-->
                </div><!--/blog_post_metadata--><!--blog_post_content-->

            <div class="u-align-justify u-blog-control u-post-content u-text u-text-2"><!--blog_post_content_content-->{{ Project.Text|linebreaks }}<!--/blog_post_content_content--></div><!--/blog_post_content-->
          </div>
        </div><!--/blog_post--><!--/post_details-->
      </div>
    </section>
{% endblock %}
