{% extends "Base.html" %}
{% load static %}
{% block title %}سوالات متداول{% endblock %}
{% block custom-css %}
    <link
            rel="stylesheet"
            href="{% static 'css/faq.css' %}"
    />{% endblock %}
{% block header_icon %}<img src="{% static 'assets/img/icon.png' %}" alt="logo"/>{% endblock %}
{% block faq_header %}
    <a href="{% url 'staticpages:faq' %}" class="active">
        <li>سوالات متداول</li>
    </a>
{% endblock %} {% block about_header %}

    <a href="{% url 'staticpages:about' %}" class="active">
        <li>درباره ما<span class="bi-caret-down"></span>    </li>
    </a>
{% endblock %} {% block faq_mobile_header %}
    <a href="{% url 'staticpages:faq' %}" class="active">
        <li>سوالات متداول</li>
    </a>
{% endblock %}
{% block faq_footer %}
    <a href="{% url 'staticpages:faq' %}" class="active">
        <li>سوالات متداول</li>
    </a>
{% endblock %}

 {% block main %}

    <main class="faq-container">
        <section class="faq-header wow">
            <div>
                <h1>سوالات متداول</h1>
            </div>
            <img src="{% static 'assets/img/homeBackground.jpg' %}" alt="faq-background"/>
        </section>

        <div class="faq-sections">
            <section class="faq-questions">
                <div class="faq-questions-title">
                    <h2>بخش سوالات</h2>
                    <p>
     لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است
                    </p>
                </div>

                <ul class="faq-questions-list">
                    <li class="faq-questions-item">
                        <a href="#some-question">دریافت راهنمایی</a>
                    </li>
                    <li class="faq-questions-item">
                        <a href="#some-question">دریافت راهنمایی</a>
                    </li>
                    <li class="faq-questions-item">
                        <a href="#some-question">دریافت راهنمایی</a>
                    </li>
                    <li class="faq-questions-item">
                        <a href="#some-question">دریافت راهنمایی</a>
                    </li>
                </ul>
            </section>

            <div class="faq-separator">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>

            <ul class="faq-questions-contents">
                <li class="faq-questions-content">
                    <h2>1. لورم ایپسوم متن ساختگی با تولید</h2>
                    <p>
                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد کتابهای زیادی در شصت و سه درصد گذشته حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد
                    </p>
                </li>
                <li class="faq-questions-content">
                    <h2>1. لورم ایپسوم متن ساختگی با تولید</h2>
                    <p>
لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد کتابهای زیادی در شصت و سه درصد گذشته حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد
                    </p>
                </li>
                <li class="faq-questions-content">
                    <h2>1. لورم ایپسوم متن ساختگی با تولید</h2>
                    <p>
لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد کتابهای زیادی در شصت و سه درصد گذشته حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد
                    </p>
                </li>
                <li class="faq-questions-content">
                    <h2>1. لورم ایپسوم متن ساختگی با تولید</h2>
                    <p>
لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد کتابهای زیادی در شصت و سه درصد گذشته حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد
                    </p>
                </li>
            </ul>
        </div>
    </main>
{% endblock %}
{% block scripts %}
    <script src="{% static 'js/wow.min.js' %}"></script>
    <script>
        new WOW().init();
    </script>
    <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'js/utils.js' %}"></script>
    <script>
        const WITH_DELAY = false;
    </script>
    <script src="{% static 'js/showHeader.js' %}"></script>
    <script src="{% static 'js/showMenu.js' %}"></script>
{% endblock %}

