{% extends "Blog/../Base.html" %}
{% load static %}
{% block title %} Nima's site{% endblock %}
{% block custom-css %}
<link rel="stylesheet" href="{% static 'Blog/Home.css' %}" media="screen">
{% endblock %}
{% block Body %}<u-body u-overlap u-overlap-contrast u-overlap-transparent">{% endblock %}

{% block main %}

    <link rel="stylesheet" href="{% static 'Blog/Home.css' %}" media="screen">
    <section class="u-align-center u-clearfix u-image u-shading u-section-1" src="" data-image-width="1600" data-image-height="1187" id="sec-218b">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <h1 class="u-text u-title u-text-1">This is Nima</h1>
      </div>
    </section>
    <section class="u-align-center-sm u-align-center-xs u-clearfix u-section-2" id="sec-bea5">
        <div class="u-clearfix u-sheet u-valign-middle-xs u-sheet-1">
        {% for article in Articleone %}
            <h1 class="u-align-left-lg u-align-left-md u-align-left-xl u-text u-text-1" data-animation-name="fadeIn" data-animation-duration="1000" data-animation-delay="0">{{ article.Title }}<br></h1>
            <p class="u-align-left-lg u-align-left-md u-align-left-xl u-text u-text-2" data-animation-name="fadeIn" data-animation-duration="1000" data-animation-delay="0">{{ article.Text|truncatewords:15 }}</p>
            <a href="{% url 'Blog:article' article.slug %}" class="u-active-none u-align-center-sm u-align-center-xs u-border-2 u-border-active-palette-2-dark-1 u-border-hover-palette-2-base u-border-palette-2-base u-btn u-button-style u-hover-none u-none u-text-hover-palette-2-base u-text-palette-2-base u-btn-1" data-animation-name="fadeIn" data-animation-duration="1000" data-animation-delay="0">READ MORE<br></a>
        {% endfor %}
            <h1 class="u-align-left-lg u-align-left-md u-align-left-xl u-text u-title u-text-3">
              <a class="u-btn u-button-link u-button-style u-none u-text-body-color u-btn-2" href="{% url 'Blog:blog' %}" data-animation-name="fadeIn" data-animation-duration="1000" data-animation-delay="0">Articles</a>
            </h1>
        {% for article in Articletwo %}
            <h1 class="u-align-left-lg u-align-left-md u-align-left-xl u-text u-text-4" data-animation-name="fadeIn" data-animation-duration="1000" data-animation-delay="0">{{ article.Title }}</h1>
            <p class="u-align-left-lg u-align-left-md u-align-left-xl u-text u-text-5" data-animation-name="fadeIn" data-animation-duration="1000" data-animation-delay="0">{{ article.Text|truncatewords:15 }}</p>
            <a href="{% url 'Blog:article' article.slug %}" class="u-active-none u-border-2 u-border-active-palette-2-dark-1 u-border-hover-palette-2-base u-border-palette-2-base u-btn u-button-style u-hover-none u-none u-text-hover-palette-2-base u-text-palette-2-base u-btn-3" data-animation-name="fadeIn" data-animation-duration="1000" data-animation-delay="0">READ MORE<br>
            </a>
        {% endfor %}
        </div>
    </section>
    <section class="u-align-center-xs u-black u-clearfix u-section-3" id="sec-a74a">
      <div class="u-clearfix u-sheet u-sheet-1">
      {% for Project in Projects %}
            <h1 class="u-align-left-lg u-align-left-md u-align-left-sm u-align-left-xl u-text u-text-1" data-animation-name="fadeIn" data-animation-duration="1000" data-animation-delay="0">{{ Project.Title }}<br>
            </h1>
            <h1 class="u-align-left-lg u-align-left-md u-align-left-sm u-align-left-xl u-text u-title u-text-2">
              <a class="u-btn u-button-link u-button-style u-none u-text-white u-btn-1" href="{% url 'Blog:projects' %}" data-animation-name="fadeIn" data-animation-duration="1000" data-animation-delay="0">Working on</a>
            </h1>
            <p class="u-align-left-lg u-align-left-md u-align-left-sm u-align-left-xl u-text u-text-3" data-animation-name="fadeIn" data-animation-duration="1000" data-animation-delay="0">{{ Project.Text|truncatewords:10 }}</p>
            <a href="{% url 'Blog:project' Project.slug %}" class="u-active-none u-border-2 u-border-active-white u-border-hover-palette-2-base u-border-palette-2-base u-btn u-button-style u-hover-none u-none u-text-active-white u-text-hover-palette-2-base u-text-palette-2-base u-btn-2" data-animation-name="fadeIn" data-animation-duration="1000" data-animation-delay="0">READ MORE<br>
            </a>
      {% endfor %}
      </div>
    </section>
    <section class="u-clearfix u-section-4" id="sec-a4a2">
      <div class="u-clearfix u-sheet u-valign-middle-sm u-valign-middle-xs u-sheet-1">
        <img class="u-align-left u-image u-image-1" data-image-width="640" data-image-height="640" src="{% static 'Blog/images/photo_2021-02-14_12-02-51.jpg' %}">
        <div class="u-container-style u-grey-10 u-group u-group-1" data-animation-name="zoomIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="">
          <div class="u-container-layout u-container-layout-1">
            <h2 class="u-custom-font u-font-arial u-text u-text-1">My Blog</h2>
            <p class="u-text u-text-2">This is my Blog.<br>&nbsp;Sometimes I will put things there.<br>
            </p>
            <a href="blog/" class="u-border-2 u-border-black u-btn u-button-style u-hover-black u-none u-text-black u-text-hover-white u-btn-1">see more</a>
          </div>
        </div>
      </div>
    </section>
    <section class="u-align-center u-black u-clearfix u-section-5" id="sec-f64f">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <h1 class="u-text u-text-1" data-animation-name="jackInTheBox" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="">
          <a class="u-border-3 u-border-active-grey-15 u-border-hover-white u-btn u-button-link u-button-style u-none u-text-white u-btn-1" href="https://github.com/nimiology" target="_blank">GITHUB</a>
        </h1>
      </div>
    </section>
    <style class="u-overlap-style">.u-overlap:not(.u-sticky-scroll) .u-header {
}</style>
{% endblock %}

