{% extends "Base.html" %}
{% load static %}
{% block title %}Portfolio{% endblock %}
{% block custom-css %}<link rel="stylesheet" href="{% static 'css/home.css' %}" />{% endblock %}
{% block header %}
              <a href="{% url "StaticPages:home" %}" class="active"><li>HOME</li></a>
              <a href="{% url "Projects:projects" %}"><li>PORTFOLIO</li></a>
              <a href="{% url "Blog:blog" %}"><li>BLOG</li></a>
              <a href="{% url "StaticPages:about" %}"><li>CONTACT</li></a>
{% endblock %}
{% block header-mobile %}
              <a href="{% url "StaticPages:home" %}" class="active"><li>HOME</li></a>
              <a href="{% url "Projects:projects" %}"><li>PORTFOLIO</li></a>
              <a href="{% url "Blog:blog" %}"><li>BLOG</li></a>
              <a href="{% url "StaticPages:about" %}"><li>CONTACT</li></a>
{% endblock %}
{% block main %}
  <body>
    <main class="wow home-container">
      <div class="home-image-container">
        <img src="{% static 'assets/img/homeBackground.jpg' %}" alt="home-background">
      </div>
    </main>
  </body>  
  
  <script src="{% static 'js/wow.min.js' %}"></script>
  <script>
    // Run wow js scroll animation
    new WOW().init();
  </script>
  <script src="{% static 'js/utils.js' %}"></script>
  <script>
    const WITH_DELAY = true;
    const DELAY_LENGTH = 800;
  </script>
  <script src="{% static 'js/showHeader.js' %}"></script>
{% endblock %}


