{% extends "Base.html" %}
{% load static %}
{% block title %} Process {% endblock %}
{% block custom-css %}
    <link rel="stylesheet" href="{% static 'css/process.css' %}"/>{% endblock %}
{% block header_icon %}<img src="{% static 'assets/img/icon.png' %}" alt="logo"/>{% endblock %}
{% block process_header %}
    <a href="{% url 'staticpages:process' %}" class="active">
        <li>PROCESS</li>
    </a>
{% endblock %} {% block about_header %}

    <a href="{% url 'staticpages:about' %}" class="active">
        <li>ABOUT<span class="bi-caret-down"></span>    </li>
    </a>
{% endblock %} {% block process_mobile_header %}
    <a href="{% url 'staticpages:process' %}" class="active">
        <li>PROCESS</li>
    </a>
{% endblock %}
{% block process_footer %}
    <a href="{% url 'staticpages:process' %}" class="active">
        <li>PROCESS</li>
    </a>
{% endblock %}
{% block main %}

    <main class="process-container">
        <section class="process-header">
            <div>
                <h1>PROCESS</h1>
            </div>
            <img src="{% static 'assets/img/homeBackground.jpg' %}" alt="process-background"/>
        </section>
        <section>
            <div class="card">
                <div class="card-image wow">
                    <img src="{% static 'assets/img/homeBackground.jpg' %}" alt="card-image"/>
                </div>
                <div class="card-content wow">
                    <div class="card-content-wrapper">
                        <div class="card-content-title">
                            <h1>EXECUTION & FOLLOW-UP.</h1>
                            <div></div>
                        </div>
                        <div class="card-content-text">
                            <p>
                                Lorem Ipsum proin gravida nibh vel velit auctor aliquet. Aenean sollic
                                itudin lore quis bibendum auctor, nisi sion elit cons otosi equat ipsu
                                nec sagittis sem nibh id elit. Duiss ver of sed odio sit amet nibh
                                vulputate cursus a sit amet mauris orbi accumsan ipsum velit. Nam nec
                                tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat
                                consequat auctor eu in elit. Class aptent taciti sociosqu ad litora
                                torquent per conubia nostra, per inceptos himenaeos. Mauris in erat
                                justo.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-image">
                    <img src="{% static 'assets/img/homeBackground.jpg' %}" alt="card-image"/>
                </div>
                <div class="card-content wow">
                    <div class="card-content-wrapper">
                        <div class="card-content-title">
                            <h1>EXECUTION & FOLLOW-UP.</h1>
                            <div></div>
                        </div>
                        <div class="card-content-text">
                            <p>
                                Lorem Ipsum proin gravida nibh vel velit auctor aliquet. Aenean sollic
                                itudin lore quis bibendum auctor, nisi sion elit cons otosi equat ipsu
                                nec sagittis sem nibh id elit. Duiss ver of sed odio sit amet nibh
                                vulputate cursus a sit amet mauris orbi accumsan ipsum velit. Nam nec
                                tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat
                                consequat auctor eu in elit. Class aptent taciti sociosqu ad litora
                                torquent per conubia nostra, per inceptos himenaeos. Mauris in erat
                                justo.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-image">
                    <img src="{% static 'assets/img/homeBackground.jpg' %}" alt="card-image"/>
                </div>
                <div class="card-content wow">
                    <div class="card-content-wrapper">
                        <div class="card-content-title">
                            <h1>EXECUTION & FOLLOW-UP.</h1>
                            <div></div>
                        </div>
                        <div class="card-content-text">
                            <p>
                                Lorem Ipsum proin gravida nibh vel velit auctor aliquet. Aenean sollic
                                itudin lore quis bibendum auctor, nisi sion elit cons otosi equat ipsu
                                nec sagittis sem nibh id elit. Duiss ver of sed odio sit amet nibh
                                vulputate cursus a sit amet mauris orbi accumsan ipsum velit. Nam nec
                                tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat
                                consequat auctor eu in elit. Class aptent taciti sociosqu ad litora
                                torquent per conubia nostra, per inceptos himenaeos. Mauris in erat
                                justo.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}
{% block scripts %}
    <script src="{% static 'js/wow.min.js' %}"></script>
    <script>
        // Run wow js scroll animation
        new WOW().init();
    </script>
    <script src="{% static 'js/utils.js' %}"></script>
    <script>
        const WITH_DELAY = true;
        const DELAY_LENGTH = 800;
    </script>
    <script src="{% static 'js/showHeader.js' %}"></script>
    <script src="{% static 'js/showMenu.js' %}"></script>

{% endblock %}
