{% extends "Base.html" %}
{% load static %}
{% block title %} فرایند کار {% endblock %}
{% block custom-css %}
    <link rel="stylesheet" href="{% static 'css/process.css' %}"/>{% endblock %}
{% block header_icon %}<img src="{% static 'assets/img/icon.png' %}" alt="logo"/>{% endblock %}
{% block process_header %}
    <a href="{% url 'staticpages:process' %}" class="active">
        <li>فرایند کار</li>
    </a>
{% endblock %} {% block about_header %}

    <a href="{% url 'staticpages:about' %}" class="active">
        <li>درباره ما<span class="bi-caret-down"></span>    </li>
    </a>
{% endblock %} {% block process_mobile_header %}
    <a href="{% url 'staticpages:process' %}" class="active">
        <li>فرایند کار</li>
    </a>
{% endblock %}
{% block process_footer %}
    <a href="{% url 'staticpages:process' %}" class="active">
        <li>فرایند کار</li>
    </a>
{% endblock %}
{% block main %}

    <main class="process-container">
        <section class="process-header">
            <div>
                <h1>فرایند کار</h1>
            </div>
            <img src="{% static 'assets/img/homeBackground.jpg' %}" alt="process-background"/>
        </section>
        <section>
            <div class="card">
                <div class="card-image wow">
                    <img src="{% static 'assets/img/homeBackground.jpg' %}" alt="card-image"/>
                </div>
                <div class="card-content wow">
                    <div class="card-content-wrapper">
                        <div class="card-content-title">
                            <h1>لورم ایپسوم متن ساختگی</h1>
                            <div></div>
                        </div>
                        <div class="card-content-text">
                            <p>
لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد کتابهای زیادی در شصت و سه درصد گذشته حال و آینده
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-image">
                    <img src="{% static 'assets/img/homeBackground.jpg' %}" alt="card-image"/>
                </div>
                <div class="card-content wow">
                    <div class="card-content-wrapper">
                        <div class="card-content-title">
                            <h1>لورم ایپسوم متن ساختگی</h1>
                            <div></div>
                        </div>
                        <div class="card-content-text">
                            <p>
لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد کتابهای زیادی در شصت و سه درصد گذشته حال و آینده
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-image">
                    <img src="{% static 'assets/img/homeBackground.jpg' %}" alt="card-image"/>
                </div>
                <div class="card-content wow">
                    <div class="card-content-wrapper">
                        <div class="card-content-title">
                            <h1>لورم ایپسوم متن ساختگی</h1>
                            <div></div>
                        </div>
                        <div class="card-content-text">
                            <p>
 لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد کتابهای زیادی در شصت و سه درصد گذشته حال و آینده
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}
{% block scripts %}
    <script src="{% static 'js/wow.min.js' %}"></script>
    <script>
        // Run wow js scroll animation
        new WOW().init();
    </script>
    <script src="{% static 'js/utils.js' %}"></script>
    <script>
        const WITH_DELAY = true;
        const DELAY_LENGTH = 800;
    </script>
    <script src="{% static 'js/showHeader.js' %}"></script>
    <script src="{% static 'js/showMenu.js' %}"></script>

{% endblock %}
