{% extends "Blog/../Base.html" %}
{% load static %}
{% block title %} About me{% endblock %}
{% block custom-css %}
<link rel="stylesheet" href="{% static 'Blog/About.css' %}" media="screen">
{% endblock %}
{% block main %}
    <section class="u-clearfix u-section-1" id="sec-9030">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <p class="u-align-center u-text u-text-1">
{#          <span style="font-weight: 700;">Name: Nima</span>#}
{#          <br>#}
{#          <span style="font-weight: 700;">&nbsp; &nbsp;&nbsp;</span>Job : Student<br>#}
{#          <span style="font-weight: 700;">Date of birth: April 14, 2004</span>#}
          <span style="font-weight: 700;">
              {% for SocialMedia in SocialMedias %}
                  <br>
                <a href="{{ SocialMedia.Link }}">{{ SocialMedia.Title }}&nbsp;</a>
              {% endfor %}
          </span>
          <br>
        </p>
      </div>
    </section>
    <style class="u-overlap-style">.u-overlap:not(.u-sticky-scroll) .u-header {
}</style>

{% endblock %}