@import "./includes/variabels" l;
.active {
  color: #db7b7b !important; }

.active {
  color: #db7b7b !important; }

.header-faded-in {
  top: 0;
  opacity: 1; }

header {
  position: absolute;
  z-index: 200;
  top: -10%;
  opacity: 0;
  transition: 1s;
  font-family: "Rajdhani", sans-serif; }
  header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1.5rem 3rem; }
    @media screen and (max-width: 800px) {
      header nav {
        margin: 1rem 2rem; } }
    @media screen and (max-width: 700px) {
      header nav {
        margin: 1rem; } }
    header nav .navbar-logo img {
      width: 70px;
      height: auto; }
    header nav .navbar-menu, header nav .navbar-menu-mobile {
      display: flex;
      justify-content: flex-end;
      align-items: center; }
      header nav .navbar-menu ul, header nav .navbar-menu-mobile ul {
        padding: 0;
        margin: 0;
        list-style: none;
        display: flex;
        justify-content: space-between;
        align-items: center; }
        header nav .navbar-menu ul a, header nav .navbar-menu-mobile ul a {
          text-decoration: none; }
        header nav .navbar-menu ul li, header nav .navbar-menu-mobile ul li {
          cursor: pointer;
          letter-spacing: 2px;
          margin-right: 3rem;
          font-size: 18px;
          font-weight: 600;
          transition: color 150ms, border-bottom-color 150ms, transform 150ms;
          border-bottom: 2px solid transparent; }
          @media screen and (max-width: 1100px) {
            header nav .navbar-menu ul li, header nav .navbar-menu-mobile ul li {
              font-size: 15px; } }
          @media screen and (max-width: 950px) {
            header nav .navbar-menu ul li, header nav .navbar-menu-mobile ul li {
              margin-right: 2rem; } }
          header nav .navbar-menu ul li:hover, header nav .navbar-menu-mobile ul li:hover {
            transform: translateY(-3px);
            color: #db7b7b;
            border-bottom-color: #e3a7a7; }
        header nav .navbar-menu ul #navbar-menu-button, header nav .navbar-menu-mobile ul #navbar-menu-button {
          position: relative; }
        header nav .navbar-menu ul .navbar-menu-sub, header nav .navbar-menu-mobile ul .navbar-menu-sub {
          padding-top: 25px;
          position: absolute;
          top: 55px;
          right: 70px; }
          @media screen and (max-width: 800px) {
            header nav .navbar-menu ul .navbar-menu-sub, header nav .navbar-menu-mobile ul .navbar-menu-sub {
              top: 45px; } }
          header nav .navbar-menu ul .navbar-menu-sub div, header nav .navbar-menu-mobile ul .navbar-menu-sub div {
            opacity: 1;
            background-color: rgba(30, 30, 30, 0.6);
            border-right: 2px solid #db7b7b;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 15px;
            margin-right: 3rem;
            padding: 1.2rem 1.5rem; }
            @media screen and (max-width: 950px) {
              header nav .navbar-menu ul .navbar-menu-sub div, header nav .navbar-menu-mobile ul .navbar-menu-sub div {
                margin-right: 2rem; } }
            @media screen and (max-width: 800px) {
              header nav .navbar-menu ul .navbar-menu-sub div, header nav .navbar-menu-mobile ul .navbar-menu-sub div {
                margin-right: 1rem; } }
            header nav .navbar-menu ul .navbar-menu-sub div li, header nav .navbar-menu-mobile ul .navbar-menu-sub div li {
              margin: 0; }
      header nav .navbar-menu .navbar-search, header nav .navbar-menu-mobile .navbar-search {
        font-size: 1.25rem;
        cursor: pointer;
        transition: color 150ms; }
        header nav .navbar-menu .navbar-search .navbar-search-btn, header nav .navbar-menu-mobile .navbar-search .navbar-search-btn {
          border: none;
          outline: none;
          background: transparent;
          padding: 0;
          margin: 0;
          position: relative;
          z-index: 70;
          transition: color 250ms; }
          header nav .navbar-menu .navbar-search .navbar-search-btn:focus, header nav .navbar-menu-mobile .navbar-search .navbar-search-btn:focus {
            border: none;
            outline: none; }
            header nav .navbar-menu .navbar-search .navbar-search-btn:focus:after, header nav .navbar-menu-mobile .navbar-search .navbar-search-btn:focus:after, header nav .navbar-menu .navbar-search .navbar-search-btn:focus:before, header nav .navbar-menu-mobile .navbar-search .navbar-search-btn:focus:before {
              content: ""; }
          header nav .navbar-menu .navbar-search .navbar-search-btn:after, header nav .navbar-menu-mobile .navbar-search .navbar-search-btn:after, header nav .navbar-menu .navbar-search .navbar-search-btn:before, header nav .navbar-menu-mobile .navbar-search .navbar-search-btn:before {
            content: ""; }
          @media screen and (max-width: 1100px) {
            header nav .navbar-menu .navbar-search .navbar-search-btn, header nav .navbar-menu-mobile .navbar-search .navbar-search-btn {
              font-size: 18px; } }
          header nav .navbar-menu .navbar-search .navbar-search-btn:hover, header nav .navbar-menu-mobile .navbar-search .navbar-search-btn:hover {
            color: #db7b7b; }
        header nav .navbar-menu .navbar-search .navbar-search-btn-active, header nav .navbar-menu-mobile .navbar-search .navbar-search-btn-active {
          color: #e02e2e; }
    header nav .search-box-modal {
      position: fixed;
      background-color: #0c0909;
      top: -250%;
      right: -150%;
      width: 1700px;
      height: 1700px;
      border-radius: 50%;
      transition: top 750ms, right 750ms, transform 750ms;
      z-index: 60;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column; }
      @media screen and (max-width: 1200px) {
        header nav .search-box-modal {
          width: 1400px;
          height: 1400px;
          top: -200%;
          right: -160%; } }
      @media screen and (max-width: 830px) {
        header nav .search-box-modal {
          width: 1200px;
          height: 1200px;
          right: -180%; } }
      @media screen and (max-width: 510px) {
        header nav .search-box-modal {
          width: 900px;
          height: 900px;
          top: -160%;
          right: -250%; } }
      header nav .search-box-modal .search-box-modal-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        opacity: 0;
        transition: opacity 250ms; }
        header nav .search-box-modal .search-box-modal-container .search-box-modal-wrapper {
          width: 100%; }
          @media screen and (max-width: 500px) {
            header nav .search-box-modal .search-box-modal-container .search-box-modal-wrapper {
              width: 80%; } }
          header nav .search-box-modal .search-box-modal-container .search-box-modal-wrapper .search-box-modal-input {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            padding: 0 2rem 0 1.5rem;
            width: 100%; }
            header nav .search-box-modal .search-box-modal-container .search-box-modal-wrapper .search-box-modal-input input {
              border: none;
              outline: none;
              background: transparent;
              padding: 0;
              margin: 0;
              font-size: 5rem;
              color: #ffffff; }
              header nav .search-box-modal .search-box-modal-container .search-box-modal-wrapper .search-box-modal-input input:focus {
                border: none;
                outline: none; }
                header nav .search-box-modal .search-box-modal-container .search-box-modal-wrapper .search-box-modal-input input:focus:after, header nav .search-box-modal .search-box-modal-container .search-box-modal-wrapper .search-box-modal-input input:focus:before {
                  content: ""; }
              header nav .search-box-modal .search-box-modal-container .search-box-modal-wrapper .search-box-modal-input input:after, header nav .search-box-modal .search-box-modal-container .search-box-modal-wrapper .search-box-modal-input input:before {
                content: ""; }
              @media screen and (max-width: 900px) {
                header nav .search-box-modal .search-box-modal-container .search-box-modal-wrapper .search-box-modal-input input {
                  font-size: 3rem; } }
              @media screen and (max-width: 500px) {
                header nav .search-box-modal .search-box-modal-container .search-box-modal-wrapper .search-box-modal-input input {
                  font-size: 2rem;
                  padding: 0 !important; } }
            header nav .search-box-modal .search-box-modal-container .search-box-modal-wrapper .search-box-modal-input button {
              border: none;
              outline: none;
              background: transparent;
              padding: 0;
              margin: 0;
              position: relative;
              bottom: -20px;
              opacity: 0;
              font-size: 2rem;
              transition: bottom 250ms, opacity 250ms; }
              header nav .search-box-modal .search-box-modal-container .search-box-modal-wrapper .search-box-modal-input button:focus {
                border: none;
                outline: none; }
                header nav .search-box-modal .search-box-modal-container .search-box-modal-wrapper .search-box-modal-input button:focus:after, header nav .search-box-modal .search-box-modal-container .search-box-modal-wrapper .search-box-modal-input button:focus:before {
                  content: ""; }
              header nav .search-box-modal .search-box-modal-container .search-box-modal-wrapper .search-box-modal-input button:after, header nav .search-box-modal .search-box-modal-container .search-box-modal-wrapper .search-box-modal-input button:before {
                content: ""; }
              @media screen and (max-width: 500px) {
                header nav .search-box-modal .search-box-modal-container .search-box-modal-wrapper .search-box-modal-input button {
                  font-size: 1.4rem; } }
              header nav .search-box-modal .search-box-modal-container .search-box-modal-wrapper .search-box-modal-input button span {
                color: #b3b3b3;
                float: right; }
                header nav .search-box-modal .search-box-modal-container .search-box-modal-wrapper .search-box-modal-input button span:hover {
                  color: #ffffff; }
          header nav .search-box-modal .search-box-modal-container .search-box-modal-wrapper .search-box-modal-line {
            display: block;
            width: 0;
            height: 2px;
            background-image: linear-gradient(90deg, #500a10, #b4372b);
            border-radius: 3px;
            transition: width 500ms; }
    header nav .search-box-modal-active {
      top: 50% !important;
      right: 50% !important;
      transform: translate(50%, -50%); }
    header nav .navbar-menu-mobile .navbar-search-mobile {
      position: relative;
      z-index: 70;
      display: none;
      font-size: 1.25rem;
      cursor: pointer;
      transition: color 150ms;
      margin-right: 1rem;
      margin-bottom: 0.25rem; }
      @media screen and (max-width: 700px) {
        header nav .navbar-menu-mobile .navbar-search-mobile {
          display: block; } }
      header nav .navbar-menu-mobile .navbar-search-mobile .navbar-search-btn {
        border: none;
        outline: none;
        background: transparent;
        padding: 0;
        margin: 0;
        transition: color 250ms; }
        header nav .navbar-menu-mobile .navbar-search-mobile .navbar-search-btn:focus {
          border: none;
          outline: none; }
          header nav .navbar-menu-mobile .navbar-search-mobile .navbar-search-btn:focus:after, header nav .navbar-menu-mobile .navbar-search-mobile .navbar-search-btn:focus:before {
            content: ""; }
        header nav .navbar-menu-mobile .navbar-search-mobile .navbar-search-btn:after, header nav .navbar-menu-mobile .navbar-search-mobile .navbar-search-btn:before {
          content: ""; }
        @media screen and (max-width: 1100px) {
          header nav .navbar-menu-mobile .navbar-search-mobile .navbar-search-btn {
            font-size: 18px; } }
        header nav .navbar-menu-mobile .navbar-search-mobile .navbar-search-btn:hover {
          color: #db7b7b; }
      header nav .navbar-menu-mobile .navbar-search-mobile .navbar-search-btn-active {
        color: #e02e2e; }
    header nav .navbar-menu-mobile .navbar-menu-mobile-hamburger-menu {
      position: relative;
      z-index: 90; }
      header nav .navbar-menu-mobile .navbar-menu-mobile-hamburger-menu button {
        border: none;
        outline: none;
        background: transparent;
        padding: 0;
        margin: 0;
        font-size: 32px;
        transition: color 250ms; }
        header nav .navbar-menu-mobile .navbar-menu-mobile-hamburger-menu button:focus {
          border: none;
          outline: none; }
          header nav .navbar-menu-mobile .navbar-menu-mobile-hamburger-menu button:focus:after, header nav .navbar-menu-mobile .navbar-menu-mobile-hamburger-menu button:focus:before {
            content: ""; }
        header nav .navbar-menu-mobile .navbar-menu-mobile-hamburger-menu button:after, header nav .navbar-menu-mobile .navbar-menu-mobile-hamburger-menu button:before {
          content: ""; }
        header nav .navbar-menu-mobile .navbar-menu-mobile-hamburger-menu button:hover {
          color: #db7b7b !important; }
    header nav .navbar-menu-mobile .navbar-menu-mobile-wrapper {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex-direction: column;
      position: fixed;
      z-index: 80;
      top: -100%;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      background-color: #050101c2;
      transition: opacity 0.5s, top 0.5s; }
      header nav .navbar-menu-mobile .navbar-menu-mobile-wrapper ul {
        justify-content: space-evenly;
        flex-direction: column;
        height: 60%; }
        header nav .navbar-menu-mobile .navbar-menu-mobile-wrapper ul li {
          margin-right: 0;
          font-size: 15px; }
    header nav .navbar-menu-mobile .navbar-menu-mobile-wrapper-active {
      top: 0;
      opacity: 1; }

header {
  color: #ffffff; }
  header .navbar-search-btn {
    color: #ffffff; }
  header .navbar-menu ul a, header nav .navbar-menu-mobile ul a {
    color: #ffffff; }
  header .navbar-menu-mobile-hamburger-menu button {
    color: #ffffff; }

body {
  background: black; }

.image-container {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 10; }
  .image-container img {
    position: fixed;
    width: 100%;
    height: 100%;
    object-fit: cover; }

.home-container {
  animation-name: fadeInDown;
  animation-duration: 1s;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 100; }
  .home-container section {
    background-color: rgba(0, 0, 0, 0.3);
    padding-top: 50px;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 20; }
    .home-container section p {
      width: 50%;
      text-align: center;
      color: white;
      font-size: 50px;
      font-family: "Rajdhani", sans-serif;
      font-weight: 600; }
      @media screen and (max-width: 1100px) {
        .home-container section p {
          font-size: 40px;
          width: 70%; } }
      @media screen and (max-width: 600px) {
        .home-container section p {
          font-size: 35px;
          width: 80%; } }
      @media screen and (max-width: 380px) {
        .home-container section p {
          font-size: 32px;
          width: 85%; } }

.portfolio-container {
  position: relative;
  z-index: 100;
  background-color: rgba(225, 225, 225, 0.9);
  padding: 3rem 3rem; }
  @media screen and (max-width: 890px) {
    .portfolio-container {
      padding: 3rem 2rem; } }
  @media screen and (max-width: 390px) {
    .portfolio-container {
      padding: 3rem 1rem; } }
  .portfolio-container .portfolio-card {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    padding: 4.5rem 0; }
    @media screen and (max-width: 890px) {
      .portfolio-container .portfolio-card {
        flex-direction: column; } }
    @media screen and (max-width: 390px) {
      .portfolio-container .portfolio-card {
        padding: 0; } }
    .portfolio-container .portfolio-card .portfolio-card-images {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 500px; }
      @media screen and (max-width: 890px) {
        .portfolio-container .portfolio-card .portfolio-card-images {
          min-height: 450px; } }
      .portfolio-container .portfolio-card .portfolio-card-images div {
        position: absolute;
        animation-name: fadeInUp;
        animation-duration: 0.5s;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat; }
        .portfolio-container .portfolio-card .portfolio-card-images div img {
          position: absolute;
          width: 100%;
          height: 100%;
          object-fit: cover; }
        .portfolio-container .portfolio-card .portfolio-card-images div:nth-child(1) {
          width: 190px;
          height: 190px;
          z-index: 30;
          animation-delay: 0.4s; }
          @media screen and (max-width: 1370px) {
            .portfolio-container .portfolio-card .portfolio-card-images div:nth-child(1) {
              width: 190px;
              height: 190px; } }
          @media screen and (max-width: 1230px) {
            .portfolio-container .portfolio-card .portfolio-card-images div:nth-child(1) {
              width: 176px;
              height: 176px; } }
          @media screen and (max-width: 890px) {
            .portfolio-container .portfolio-card .portfolio-card-images div:nth-child(1) {
              width: 140px;
              height: 140px; } }
        .portfolio-container .portfolio-card .portfolio-card-images div:nth-child(2) {
          width: 394px;
          height: 295px;
          z-index: 10;
          animation-delay: 0.2s; }
          @media screen and (max-width: 1370px) {
            .portfolio-container .portfolio-card .portfolio-card-images div:nth-child(2) {
              width: 394px;
              height: 295px; } }
          @media screen and (max-width: 1230px) {
            .portfolio-container .portfolio-card .portfolio-card-images div:nth-child(2) {
              width: 389px;
              height: 291px; } }
          @media screen and (max-width: 890px) {
            .portfolio-container .portfolio-card .portfolio-card-images div:nth-child(2) {
              width: 289px;
              height: 220px; } }
        .portfolio-container .portfolio-card .portfolio-card-images div:nth-child(3) {
          width: 603px;
          height: 452px;
          z-index: 20; }
          @media screen and (max-width: 1230px) {
            .portfolio-container .portfolio-card .portfolio-card-images div:nth-child(3) {
              width: 389px;
              height: 291px; } }
          @media screen and (max-width: 890px) {
            .portfolio-container .portfolio-card .portfolio-card-images div:nth-child(3) {
              width: 289px;
              height: 220px; } }
    .portfolio-container .portfolio-card .portfolio-card-content {
      animation-name: fadeInUp;
      animation-duration: 0.5s; }
      .portfolio-container .portfolio-card .portfolio-card-content .portfolio-card-content-wrapper {
        width: 100%;
        height: 100%; }
        .portfolio-container .portfolio-card .portfolio-card-content .portfolio-card-content-wrapper .portfolio-card-content-title h1 {
          padding: 0;
          margin: 0;
          font-size: 52px;
          font-weight: 700;
          font-family: "Rajdhani", sans-serif;
          cursor: default; }
          @media screen and (max-width: 970px) {
            .portfolio-container .portfolio-card .portfolio-card-content .portfolio-card-content-wrapper .portfolio-card-content-title h1 {
              font-size: 42px; } }
          @media screen and (max-width: 890px) {
            .portfolio-container .portfolio-card .portfolio-card-content .portfolio-card-content-wrapper .portfolio-card-content-title h1 {
              font-size: 32px; } }
        .portfolio-container .portfolio-card .portfolio-card-content .portfolio-card-content-wrapper .portfolio-card-content-title div {
          margin-top: 1rem;
          width: 60px;
          height: 5px;
          background-color: #000000; }
          @media screen and (max-width: 650px) {
            .portfolio-container .portfolio-card .portfolio-card-content .portfolio-card-content-wrapper .portfolio-card-content-title div {
              height: 4px; } }
          @media screen and (max-width: 580px) {
            .portfolio-container .portfolio-card .portfolio-card-content .portfolio-card-content-wrapper .portfolio-card-content-title div {
              height: 3px;
              width: 50px; } }
        .portfolio-container .portfolio-card .portfolio-card-content .portfolio-card-content-wrapper .portfolio-card-content-text {
          margin-top: 1.5rem; }
          .portfolio-container .portfolio-card .portfolio-card-content .portfolio-card-content-wrapper .portfolio-card-content-text p {
            max-height: 250px;
            overflow: hidden;
            display: block;
            font-family: "Roboto Condensed", sans-serif;
            font-size: 16px;
            font-weight: 300; }
            @media screen and (max-width: 890px) {
              .portfolio-container .portfolio-card .portfolio-card-content .portfolio-card-content-wrapper .portfolio-card-content-text p {
                max-height: 100px; } }
        .portfolio-container .portfolio-card .portfolio-card-content .portfolio-card-content-wrapper .portfolio-card-content-btn {
          position: relative;
          margin-top: 3rem;
          display: flex;
          justify-content: center;
          align-items: center;
          overflow: hidden; }
          .portfolio-container .portfolio-card .portfolio-card-content .portfolio-card-content-wrapper .portfolio-card-content-btn:hover button {
            color: #ffffff; }
          .portfolio-container .portfolio-card .portfolio-card-content .portfolio-card-content-wrapper .portfolio-card-content-btn:hover div {
            left: 0; }
          @media screen and (max-width: 890px) {
            .portfolio-container .portfolio-card .portfolio-card-content .portfolio-card-content-wrapper .portfolio-card-content-btn:hover button {
              color: #000000; } }
          .portfolio-container .portfolio-card .portfolio-card-content .portfolio-card-content-wrapper .portfolio-card-content-btn a {
            text-decoration: none;
            width: 100%; }
          .portfolio-container .portfolio-card .portfolio-card-content .portfolio-card-content-wrapper .portfolio-card-content-btn button {
            border: none;
            outline: none;
            background: transparent;
            padding: 0;
            margin: 0;
            position: relative;
            border: 2px solid #000000;
            padding: 0.8rem 0;
            font-family: "Rajdhani", sans-serif;
            font-size: 17px;
            font-weight: 700;
            letter-spacing: 0.12rem;
            z-index: 20;
            width: 100%;
            transition: color 0.7s cubic-bezier(0.27, 0.12, 0, 1.01); }
            .portfolio-container .portfolio-card .portfolio-card-content .portfolio-card-content-wrapper .portfolio-card-content-btn button:focus {
              border: none;
              outline: none; }
              .portfolio-container .portfolio-card .portfolio-card-content .portfolio-card-content-wrapper .portfolio-card-content-btn button:focus:after, .portfolio-container .portfolio-card .portfolio-card-content .portfolio-card-content-wrapper .portfolio-card-content-btn button:focus:before {
                content: ""; }
            .portfolio-container .portfolio-card .portfolio-card-content .portfolio-card-content-wrapper .portfolio-card-content-btn button:after, .portfolio-container .portfolio-card .portfolio-card-content .portfolio-card-content-wrapper .portfolio-card-content-btn button:before {
              content: ""; }
            .portfolio-container .portfolio-card .portfolio-card-content .portfolio-card-content-wrapper .portfolio-card-content-btn button:focus {
              border: 2px solid #000000; }
            @media screen and (max-width: 390px) {
              .portfolio-container .portfolio-card .portfolio-card-content .portfolio-card-content-wrapper .portfolio-card-content-btn button {
                font-size: 14px;
                padding: 0.7rem 0; } }
          .portfolio-container .portfolio-card .portfolio-card-content .portfolio-card-content-wrapper .portfolio-card-content-btn .portfolio-card-content-btn-bg {
            position: absolute;
            left: -130%;
            width: 120%;
            height: 300px;
            background-color: #000000;
            transform: rotateZ(15deg);
            z-index: 10;
            transition: left 0.7s cubic-bezier(0.27, 0.12, 0, 1.01); }
            @media screen and (max-width: 890px) {
              .portfolio-container .portfolio-card .portfolio-card-content .portfolio-card-content-wrapper .portfolio-card-content-btn .portfolio-card-content-btn-bg {
                transition: left 1.2s cubic-bezier(0.27, 0.12, 0, 1.01);
                background-color: rgba(255, 255, 255, 0.9); } }

@media screen and (max-width: 1420px) {
  .portfolio-card-left {
    margin-left: 0;
    margin-right: 0; } }

.portfolio-card-left .portfolio-card-images {
  position: relative;
  width: 50%; }
  @media screen and (max-width: 700px) {
    .portfolio-card-left .portfolio-card-images {
      right: 30px; } }
  @media screen and (max-width: 540px) {
    .portfolio-card-left .portfolio-card-images {
      right: 50px; } }
  @media screen and (max-width: 480px) {
    .portfolio-card-left .portfolio-card-images {
      right: 60px; } }
  @media screen and (max-width: 450px) {
    .portfolio-card-left .portfolio-card-images {
      right: 70px; } }
  @media screen and (max-width: 410px) {
    .portfolio-card-left .portfolio-card-images {
      right: 75px; } }
  .portfolio-card-left .portfolio-card-images div:nth-child(1) {
    left: 460px;
    top: 210px; }
    @media screen and (max-width: 1370px) {
      .portfolio-card-left .portfolio-card-images div:nth-child(1) {
        left: 400px; } }
    @media screen and (max-width: 1230px) {
      .portfolio-card-left .portfolio-card-images div:nth-child(1) {
        left: 300px; } }
    @media screen and (max-width: 890px) {
      .portfolio-card-left .portfolio-card-images div:nth-child(1) {
        top: 260px;
        left: 175px; } }
  .portfolio-card-left .portfolio-card-images div:nth-child(2) {
    left: 20px;
    top: 130px; }
    @media screen and (max-width: 1370px) {
      .portfolio-card-left .portfolio-card-images div:nth-child(2) {
        left: -35px; } }
    @media screen and (max-width: 1230px) {
      .portfolio-card-left .portfolio-card-images div:nth-child(2) {
        left: -5px; } }
    @media screen and (max-width: 890px) {
      .portfolio-card-left .portfolio-card-images div:nth-child(2) {
        left: -20px;
        top: 110px; } }
  .portfolio-card-left .portfolio-card-images div:nth-child(3) {
    left: 90px;
    top: -100px; }
    @media screen and (max-width: 1370px) {
      .portfolio-card-left .portfolio-card-images div:nth-child(3) {
        left: 50px; } }
    @media screen and (max-width: 1230px) {
      .portfolio-card-left .portfolio-card-images div:nth-child(3) {
        top: -40px;
        left: 80px; } }
    @media screen and (max-width: 1240px) {
      .portfolio-card-left .portfolio-card-images div:nth-child(3) {
        left: 50px; } }

.portfolio-card-left .portfolio-card-content-wrapper {
  padding-left: 7.5rem;
  direction: ltr;
  width: 50%; }
  @media screen and (max-width: 890px) {
    .portfolio-card-left .portfolio-card-content-wrapper {
      width: 100%;
      padding-left: 0; } }

.quotes {
  position: relative;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(10, 10, 10, 0.95); }
  .quotes h3 {
    position: relative;
    top: 100px;
    z-index: 100;
    color: white;
    font-family: "Rajdhani", "sans-serif";
    font-size: 35px;
    font-weight: 700; }
    @media screen and (max-width: 480px) {
      .quotes h3 {
        top: 60px; } }

.splide__slide {
  width: 100%;
  padding: 0 15%; }
  .splide__slide > div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 450px; }
    .splide__slide > div > p {
      text-align: center;
      max-width: 800px;
      color: white;
      font-family: "Rajdhani", "sans-serif";
      font-weight: 400;
      font-size: 20px; }
      @media screen and (max-width: 480px) {
        .splide__slide > div > p {
          max-width: 350px; } }

.splide__arrow {
  opacity: 1;
  background-color: transparent; }
  .splide__arrow svg {
    fill: white;
    width: 30px;
    height: 30px;
    transition: fill 0.2s; }
    .splide__arrow svg:hover {
      fill: #db7b7b; }

.splide__pagination {
  counter-reset: 4;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  height: 70px; }
  .splide__pagination .is-active {
    transform: scale(1);
    height: 35px !important;
    background-color: #db7b7b !important; }

.splide__pagination__page {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 0;
  width: 4px;
  height: 12px;
  transition: all 0.2s; }

.contact {
  position: relative;
  z-index: 100;
  padding: 60px 0 80px 0;
  width: 100%;
  font-family: "Rajdhani", "sans-serif";
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(10, 10, 10, 0.95); }
  .contact figure {
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center; }
  .contact form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px; }
    .contact form > textarea {
      width: 100%; }
    @media screen and (max-width: 700px) {
      .contact form {
        width: 420px; } }
    @media screen and (max-width: 480px) {
      .contact form {
        width: 100%;
        padding: 0 15px; } }
  .contact div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px; }
    .contact div > input {
      width: 50%; }
      @media screen and (max-width: 480px) {
        .contact div > input {
          width: 100%; } }
    @media screen and (max-width: 480px) {
      .contact div {
        flex-direction: column; } }
  .contact input,
  .contact textarea {
    transition: border-color 0.2s;
    font-weight: 600;
    border: 2px solid #464646;
    padding: 12px 20px;
    background-color: transparent;
    outline: none;
    color: white; }
    .contact input::placeholder,
    .contact textarea::placeholder {
      color: white; }
    .contact input:focus,
    .contact textarea:focus {
      border-bottom-color: #db7b7b; }
  .contact button {
    transition: background-color 0.2s, color 0.2s;
    font-weight: 600;
    padding: 12px 20px;
    border: 2px solid #db7b7b;
    color: #db7b7b;
    background-color: transparent; }
    .contact button:hover {
      background-color: #db7b7b;
      color: white; }

.active {
  color: #db7b7b !important; }

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  z-index: 25;
  font-family: "Rajdhani", sans-serif;
  background-color: #fff;
  border-top: 2px solid #ec4e00; }
  footer .footer-logo {
    margin: 2rem; }
    footer .footer-logo img {
      width: 70px;
      height: auto; }
    @media screen and (max-width: 400px) {
      footer .footer-logo {
        margin: 1.25rem;
        font-size: 2.5rem; } }
  footer .footer-navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 3.5rem 0; }
    @media screen and (max-width: 550px) {
      footer .footer-navbar {
        margin: 1.5rem 0; } }
    footer .footer-navbar .footer-navbar-menu ul {
      padding: 0;
      margin: 0;
      list-style: none;
      display: flex;
      justify-content: space-between;
      align-items: center; }
      @media screen and (max-width: 720px) {
        footer .footer-navbar .footer-navbar-menu ul {
          flex-direction: column; } }
      footer .footer-navbar .footer-navbar-menu ul a {
        text-decoration: none;
        color: #000000; }
      footer .footer-navbar .footer-navbar-menu ul li {
        cursor: pointer;
        letter-spacing: 2px;
        font-size: 1.1rem;
        font-weight: 600;
        transition: color 150ms, border-bottom-color 150ms, transform 150ms;
        border-bottom: 2px solid transparent;
        margin: 0.5rem 2rem; }
        @media screen and (max-width: 550px) {
          footer .footer-navbar .footer-navbar-menu ul li {
            font-size: 0.9rem; } }
        footer .footer-navbar .footer-navbar-menu ul li:hover {
          transform: translateY(-3px);
          color: #db7b7b;
          border-bottom-color: #e3a7a7; }
  footer .footer-social ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    footer .footer-social ul a {
      text-decoration: none; }
    footer .footer-social ul li {
      padding: 0.5rem 1rem;
      font-size: 1.3rem;
      color: #000000;
      transition: color 150ms; }
      @media screen and (max-width: 550px) {
        footer .footer-social ul li {
          font-size: 1.3rem;
          padding: 0.5rem 0.5rem; } }
      @media screen and (max-width: 380px) {
        footer .footer-social ul li {
          font-size: 1.1rem;
          padding: 0.5rem 0.5rem; } }
      footer .footer-social ul li:hover {
        color: #db7b7b; }
  footer .footer-copyright {
    margin-bottom: 5rem;
    color: #4d4d4d;
    letter-spacing: 4px;
    font-size: 17px;
    font-weight: 500; }
    footer .footer-copyright a {
      color: #4d4d4d;
      text-decoration: none; }
      footer .footer-copyright a:hover {
        color: #db7b7b; }
    @media screen and (max-width: 550px) {
      footer .footer-copyright {
        font-size: 14px;
        margin-bottom: 2rem; } }
    @media screen and (max-width: 450px) {
      footer .footer-copyright {
        font-size: 12px;
        letter-spacing: 3px; } }
    @media screen and (max-width: 400px) {
      footer .footer-copyright {
        font-size: 10px;
        letter-spacing: 2px; } }

footer {
  background-color: rgba(225, 225, 225, 0.9); }
