{% extends 'Base.html' %}

{% load static %}
<!DOCTYPE html>
<html lang="en">
{% block custom-css %}
    <link rel="stylesheet" href="{% static 'css/blog.css' %}" />
{% endblock %}
{% block title %}Blog{% endblock %}
{% block header %}
              <a href="{% url "StaticPages:home" %}"><li>HOME</li></a>
              <a href="{% url "Projects:projects" %}"><li>PORTFOLIO</li></a>
              <a href="{% url "Blog:blog" %}" class="active"><li>BLOG</li></a>
              <a href="{% url "StaticPages:about" %}"><li>CONTACT</li></a>
{% endblock %}
{% block header-mobile %}
              <a href="{% url "StaticPages:home" %}"><li>HOME</li></a>
              <a href="{% url "Projects:projects" %}"><li>PORTFOLIO</li></a>
              <a href="{% url "Blog:blog" %}" class="active"><li>BLOG</li></a>
              <a href="{% url "StaticPages:about" %}"><li>CONTACT</li></a>
{% endblock %}
{% block main %}
  <body>
    <main class="blog-container">
      <section class="blog-articles col-sm-12 col-md-8">
          {% for article in articles %}
            <article class="blog-article col-12 wow">
              <div class="blog-article-image col-12">
                <a href="{% url 'Blog:article' article.slug %}"><div></div>
                  <img src="{{ article.thumbnail.url }}" alt="article-image" />
                </a>
              </div>
              <div class="blog-article-text col-12 wow">
                <a href="{% url 'Blog:article' article.slug %}">
                  <h1>
                      {{ article.title}}
                  </h1>
                </a>
                <p>
                    {{ article.text|truncatewords:15 }}
                </p>
                <div>
                  <div class="blog-article-text-author">
                    by <span>{{ article.writer }}</span> <span>{{ article.publishDate }}</span>
                  </div>
                </div>
              </div>
            </article>
          {% endfor%}
        <section class="blog-articles-pagination col-12">
          <div>
            {% if articles.has_previous %}

                <button>
                    <a href="{% url 'Blog:blog' articles.previous_page_number %}">
                    <span class="bi-caret-left"></span>
                  </a>
                </button>

            {% endif %}
            <ul>
              <a href="">
                  <li class="active">
                      {{ articles.number }}
                  </li>
              </a>
            {% if boolean %}
                <li>
                    .
                </li>
            {% endif %}

                {% if articles.number != articles.paginator.num_pages%}  
                <a href="{% url 'Blog:blog' articles.paginator.num_pages %}" class="active">
                  <li>
                    {{ articles.paginator.num_pages  }}
                  </li>  
                </a>
                {% endif %}

            </ul>
            {% if articles.has_next %}    
            
                <button>  
                    <a href="{% url 'Blog:blog' articles.next_page_number %}">
                    <span class="bi-caret-right"></span>   
                  </a>
                </button>      
           
            {% endif %}
          </div>
        </section>
      </section>
      <aside class="blog-sidebar col-12 col-md-4 wow">
        <section class="blog-sidebar-categories">
          <div class="blog-sidebar-title">
            <h1>Categories</h1>
            <div></div>
          </div>
          <ul>
          {% for category in categories %}
            <a href="{% url 'Blog:category' category.slug %}">
              <li>
                {{ category.title }}
              </li>
            </a>
          {% endfor %}
          </ul>
        </section>
        <section class="blog-sidebar-tags">
          <div class="blog-sidebar-title">
            <h1>Tags</h1>
            <div></div>
          </div>
          <ul>
              {% for tag in tags %}
                <a href="{% url 'Blog:tag' tag.slug %}">
                  <li>
                    {{ tag.title }}
                  </li>
                </a>
              {% endfor %}
          </ul>
        </section>
      </aside>
    </main>
  </body>
  <script src="{% static 'js/wow.min.js' %}"></script>
  <script>
    new WOW().init();
  </script>
  <script src="{% static 'js/utils.js' %}"></script>
  <script>
    const WITH_DELAY = false;
  </script>
  <script src="{% static 'js/showHeader.js' %}"></script>
</html>
{% endblock %}
{% block footer %}
      <a href="{% url "StaticPages:home" %}"></a><li>HOME</li></a>
      <a href="{% url "Projects:projects" %}"><li>PORTFOLIO</li></a>
      <a href="{% url "Blog:blog" %}" class="active"><li>BLOG</li></a>
      <a href="{% url "StaticPages:about" %}"><li>CONTACT</li></a>
{% endblock %}