{% extends 'Base.html' %}

{% load static %}
<!DOCTYPE html>
<html lang="en">
{% block custom-css %}
    <link rel="stylesheet" href="{% static 'css/blog.css' %}" />
{% endblock %}
{% block title %}Blog{% endblock %}
{% block main %}
  <body>
    <main class="blog-container">
      <section class="blog-articles col-sm-12 col-md-8">
          {% for article in articles %}
            <article class="blog-article col-12 wow">
              <div class="blog-article-image col-12">
                <a href="{% url 'Blog:article' article.slug %}"><div></div>
                  <img src="{{ article.thumbnail.url }}" alt="article-image" />
                </a>
              </div>
              <div class="blog-article-text col-12 wow">
                <a href="{% url 'Blog:article' article.slug %}">
                  <h1>
                      {{ article.title}}
                  </h1>
                </a>
                <p>
                    {{ article.text|truncatewords:15 }}
                </p>
                <div>
                  <div class="blog-article-text-author">
                    by <span>{{ article.writer }}</span> <span>{{ article.publishDate }}</span>
                  </div>
                </div>
              </div>
            </article>
          {% endfor%}
        <section class="blog-articles-pagination col-12">
          <div>
            <button><span class="bi-ceft"></span></button>
            <ul>
              <li class="active">1</li>
              <li>2</li>
              <li>3</li>
            </ul>
            <button><span class="bi-caret-right"></span></button>
          </div>
        </section>
      </section>
      <aside class="blog-sidebar col-sm-12 col-md-4 wow">
        <section class="blog-sidebar-categories">
          <div class="blog-sidebar-title">
            <h1>Categories</h1>
            <div></div>
          </div>
          <ul>
            <li>Technology 1</li>
            <li>Technology 2</li>
            <li>Technology 3</li>
            <li>Technology 4</li>
          </ul>
        </section>
        <section class="blog-sidebar-tags">
          <div class="blog-sidebar-title">
            <h1>Tags</h1>
            <div></div>
          </div>
          <ul>
            <li>Technology 1</li>
            <li>Technologasdady 2</li>
            <li>Technology 3</li>
            <li>Techn4</li>
            <li>Technoadlogy 5</li>
            <li>Tech</li>
            <li>Technsdfsdfology 6</li>
          </ul>
        </section>
      </aside>
    </main>
  </body>
  <script src="{% static 'js/wow.min.js' %}"></script>
  <script>
    new WOW().init();
  </script>
  <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
  <script src="{% static 'js/utils.js' %}"></script>
  <script>
    const WITH_DELAY = false;
  </script>
  <script src="{% static 'js/showHeader.js' %}"></script>
</html>
{% endblock %}