{% extends "Base.html" %}
{% load static %}
{% block title %}Blog | {{ article.title }}{% endblock %}
{% block custom-css %}<link rel="stylesheet" href="{% static 'css/blog-article.css' %}" />{% endblock %}
{% block header %}
              <a href="{% url "StaticPages:home" %}"><li>HOME</li></a>
              <a href="{% url "Projects:projects" %}"><li>PORTFOLIO</li></a>
              <a href="{% url "Blog:blog" %}" class="active"><li>BLOG</li></a>
              <a href="{% url "StaticPages:about" %}"><li>CONTACT</li></a>
{% endblock %}
{% block header-mobile %}
              <a href="{% url "StaticPages:home" %}"><li>HOME</li></a>
              <a href="{% url "Projects:projects" %}"><li>PORTFOLIO</li></a>
              <a href="{% url "Blog:blog" %}" class="active"><li>BLOG</li></a>
              <a href="{% url "StaticPages:about" %}"><li>CONTACT</li></a>
{% endblock %}
{% block main %}
    <main class="article-container">
      <article class="article col-12 col-md-8 wow">
        <div class="article-image col-12">
          <img src="{{article.thumbnail.url}}" alt="article-image" />
        </div>
        <div class="article-text col-12 wow">
          <a href="#">
            <h1>
              {{ article.title }}
            </h1>
          </a>
          <p>
          {% autoescape on %}
              {{ article.text|linebreaks }}
            {% endautoescape %}
          </p>
        </div>
        <div class="article-data">
          <div class="article-data-text-author">
            by <span>{{ article.writer }}</span> <span>{{ article.publishDate }}</span>
          </div>
        </div>
        <div class="article-share">
          <h3>SHARE :</h3>
          <ul>
            <a href="#">
              <li><span class="bi-facebook"></span></li>
            </a>
            <a href="#">
              <li><span class="bi-whatsapp"></span></li>
            </a>
            <a href="#">
              <li><span class="bi-linkedin"></span></li>
            </a>
            <a href="#">
              <li><span class="bi-twitter"></span></li>
            </a>
          </ul>
        </div>
      </article>

      <aside class="blog-sidebar col-12 col-md-4 wow">
        <section class="blog-sidebar-categories">
          <div class="blog-sidebar-title">
            <h1>Categories</h1>
            <div></div>
          </div>
          <ul>
            {% for category in article.categories.all %}

            <a href="{% url 'Blog:category' category.slug %}">
              <li>
                {{ category.title }}
              </li>
          </a>
           
            {% endfor %}
          </ul>
        </section>
        <section class="blog-sidebar-tags">
          <div class="blog-sidebar-title">
            <h1>Tags</h1>
            <div></div>
          </div>
          <ul>
            {% for tag in tags %}
                <a href="{% url 'Blog:tag' tag.slug %}">
                  <li>
                    {{ tag.title }}
                  </li>
                </a>
            {% endfor %}
          </ul>
        </section>
      </aside>
    </main>
    {% endblock %}
    {% block scripts %}    
  <script src="{% static 'js/wow.min.js' %}"></script>
  <script>
    new WOW().init();
  </script>
  <script src="{% static 'js/utils.js' %}"></script>
  <script>
    const WITH_DELAY = false;
  </script>
  <script src="{% static 'js/showHeader.js' %}"></script>
</html>
{% endblock %}
{% block footer %}
      <a href="{% url "StaticPages:home" %}"></a><li>HOME</li></a>
      <a href="{% url "Projects:projects" %}"><li>PORTFOLIO</li></a>
      <a href="{% url "Blog:blog" %}" class="active"><li>BLOG</li></a>
      <a href="{% url "StaticPages:about" %}"><li>CONTACT</li></a>
{% endblock %}