@import "./includes/variabels";
@import "./includes/utils";

.header-faded-in {
  top: 0;
  opacity: 1;
}

header {
  position: absolute;
  z-index: 40;
  top: -10%;
  opacity: 0;
  transition: 1s;
  font-family: "Rajdhani", sans-serif;
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 3rem 2rem 3rem;

    @media screen and (max-width: 800px) {
      margin: 1rem 2rem 1rem 2rem;
    }

    @media screen and (max-width: 700px) {
      margin: 1rem;
    }

    .navbar-logo {
      font-size: 2rem;
    }

    .navbar-menu {
      display: flex;
      justify-content: flex-end;
      align-items: center;

      ul {
        @include list_reset();
        display: flex;
        justify-content: space-between;
        align-items: center;

        a {
          text-decoration: none;
        }

        li {
          cursor: pointer;
          letter-spacing: 2px;
          margin-right: 3rem;

          font: {
            size: 18px;
            weight: 200;
          }
          transition: color 150ms, border-bottom-color 150ms, transform 150ms;
          border-bottom: 2px solid transparent;

          @media screen and (max-width: 1100px) {
            font-size: 15px;
          }

          &:active,
          &:hover {
            transform: translateY(-3px);
            color: #db7b7b;
            border-bottom-color: #e3a7a7;
          }
        }
      }

      .navbar-search {
        font-size: 1.25rem;
        cursor: pointer;
        transition: color 150ms;

        .navbar-search-btn {
          @include input_reset();
          position: relative;
          z-index: 70;
          transition: color 250ms;

          @media screen and (max-width: 1100px) {
            font-size: 18px;
          }

          &:hover {
            color: #db7b7b;
          }
        }

        .navbar-search-btn-active {
          color: #e02e2e;
        }
      }
    }

    .search-box-modal {
      position: fixed;
      background-color: #0c0909;
      top: -250%;
      right: -150%;
      width: 1700px;
      height: 1700px;
      border-radius: 50%;
      transition: top 750ms, right 750ms, transform 750ms;
      z-index: 60;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      @media screen and (max-width: 1200px) {
        width: 1400px;
        height: 1400px;
        top: -200%;
        right: -160%;
      }

      @media screen and (max-width: 830px) {
        width: 1200px;
        height: 1200px;
        right: -180%;
      }

      @media screen and (max-width: 510px) {
        width: 900px;
        height: 900px;
        top: -160%;
        right: -250%;
      }

      .search-box-modal-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        opacity: 0;
        transition: opacity 250ms;

        .search-box-modal-wrapper {
          width: 100%;

          @media screen and (max-width: 500px) {
            width: 80%;
          }
          .search-box-modal-input {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            padding: 0 2rem 0 1.5rem;
            width: 100%;

            input {
              @include input_reset();
              font-size: 5rem;
              color: $color-text;

              @media screen and (max-width: 900px) {
                font-size: 3rem;
              }

              @media screen and (max-width: 500px) {
                font-size: 2rem;
                padding: 0 !important;
              }
            }

            button {
              @include input_reset();
              position: relative;
              bottom: -20px;
              opacity: 0;
              font-size: 2rem;
              transition: bottom 250ms, opacity 250ms;

              @media screen and (max-width: 500px) {
                font-size: 1.4rem;
              }

              span {
                color: darken($color-text, 30%);
                float: right;

                &:hover {
                  color: $color-text;
                }
              }
            }
          }

          .search-box-modal-line {
            display: block;
            width: 0;
            height: 2px;
            background-image: linear-gradient(90deg, #500a10, #b4372b);
            border-radius: 3px;
            transition: width 500ms;
          }
        }
      }
    }

    .search-box-modal-active {
      top: 50% !important;
      right: 50% !important;
      transform: translate(50%, -50%);
    }

    .navbar-menu-mobile {
      @extend .navbar-menu;
      .navbar-search-mobile {
        position: relative;
        z-index: 70;
        display: none;
        font-size: 1.25rem;
        cursor: pointer;
        transition: color 150ms;
        margin-right: 1rem;
        margin-bottom: 0.25rem;

        @media screen and (max-width: 700px) {
          display: block;
        }

        .navbar-search-btn {
          @include input_reset();
          transition: color 250ms;

          @media screen and (max-width: 1100px) {
            font-size: 18px;
          }

          &:hover {
            color: #db7b7b;
          }
        }

        .navbar-search-btn-active {
          color: #e02e2e;
        }
      }

      .navbar-menu-mobile-hamburger-menu {
        position: relative;
        z-index: 90;
        button {
          @include input_reset();

          font-size: 32px;
          transition: color 250ms;

          &:hover {
            color: #db7b7b !important;
          }
        }
      }

      .navbar-menu-mobile-wrapper {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        position: fixed;
        z-index: 80;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        background-color: #050101c2;
        transition: opacity 0.5s, top 0.5s;
        ul {
          justify-content: space-evenly;
          flex-direction: column;
          height: 60%;
          li {
            margin-right: 0;
            font: {
              size: 15px;
            }
          }
        }
      }
      .navbar-menu-mobile-wrapper-active {
        top: 0;
        opacity: 1;
      }
    }
  }
}
