@import "./includes/variabels";
@import "./includes/utils";

@import "header";

body {
  background-color: #130E0EFF;
}

.home-container {
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../assets/img/homeBackground.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: center;
  animation-name: fadeInDown;
  animation-duration: 1s;
}

@import "footer";