@import "includes/variabels";
@import "includes/utils";

@import "header";

header {
  color: $color-text;

  .navbar-search-btn {
    color: $color-text;
  }

  .navbar-menu ul a {
    color: $color-text;
  }

  .navbar-menu-mobile-hamburger-menu {
    button {
      color: $color-text;
    }
  }
}

.notfound-container {
  background-image: url("../assets/img/404.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  animation-name: fadeInDown;
  animation-duration: 0.5s;

  .notfound-image-gradient {
    width: 100%;
    height: 100vh;
    background: rgb(0, 0, 0);
    background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.9) 0%,
      rgba(0, 0, 0, 0.3029586834733894) 52%,
      rgba(4, 4, 4, 0.9) 100%
    );
  }

  .notfound-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;

    img {
      width: 300px;
      height: auto;
      filter: drop-shadow(0px 5px 6px black);
      animation-name: fadeInDown;
      animation-duration: 0.5s;
      animation-delay: 0.15s;

      @media screen and (max-width: 600px) {
        width: 250px;
      }

      @media screen and (max-width: 450px) {
        width: 180px;
      }
    }

    p {
      color: #ffffff;
      text-shadow: 0px 5px 8px black;
      font-size: 20px;
      font-family: "Rajdhani", sans-serif;
      margin-top: 4rem;
      animation-name: fadeInDown;
      animation-duration: 0.5s;
      animation-delay: 0.25s;

      @media screen and (max-width: 400px) {
        font-size: 16px;
        margin-top: 3rem;
      }
    }

    a {
      color: $color-text;
      text-decoration: none;
    }

    button {
      @include input_reset();
      color: $color-text;
      border: 2px solid;
      padding: 0.5rem 3rem;
      margin-top: 2rem;
      font-family: "Rajdhani", sans-serif;
      animation-name: fadeInDown;
      animation-duration: 0.5s;
      animation-delay: 0.35s;
      &:focus {
        border: 2px solid $color-text;
      }
    }
  }
}

@import "footer";
