@import "includes/variabels";
@import "includes/utils";

@import "header";

header {
    background-color: #161616;
    color: $color-text;

    .navbar-search-btn {
        color: $color-text;
    }
    .navbar-menu ul a {
        color: $color-text;
    }
    .navbar-menu-mobile-hamburger-menu {
        button {
            color: $color-text;
        }
    }
}

main {
    margin-top: 4.5rem;

    @media screen and (max-width: 800px) {
        margin-top: 5rem;
    }
}

.faq-container {
    .faq-header {
        animation-name: fadeInUp;
        animation-duration: 0.5s;
        position: relative;
        width: 100%;
        height: 65vh;
        color: white;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;

        div {
            background-color: rgba(0, 0, 0, 0.8);
            width: 100%;
            height: 100%;
            position: relative;
            z-index: 100;
            display: flex;
            justify-content: center;
            align-items: center;

            h1 {
                max-width: 700px;
                font-weight: 700;
                font-size: 80px;
                text-align: center;

                @media screen and (max-width: 730px) {
                    max-width: 100%;
                    padding: 0 20px;
                    font-size: 60px;
                }

                @media screen and (max-width: 530px) {
                    font-size: 40px;
                }
            }
        }

        img {
            position: absolute;
            object-fit: cover;
            object-position: center;
        }
    }

    .faq-sections {
        display: flex;
        justify-content: center;
        align-items: start;
        flex-direction: row-reverse;
        width: 100%;
        padding: 80px 50px;

        @media screen and (max-width: 980px) {
            flex-direction: column;
        }

        @media screen and (max-width: 560px) {
            padding: 80px 20px;
        }

        .faq-questions-contents {
            direction: rtl;
            width: 70%;
            padding-right: 150px;

            @media screen and (max-width: 1050px) {
                padding-right: 50px;
            }

            @media screen and (max-width: 980px) {
                padding-left: 0;
                padding-top: 50px;
                width: 100%;
            }

            .faq-questions-content {
                list-style: none;
                padding-bottom: 35px;
                

                h2 {
                    font-size: 24px;
                    font-weight: 700;
                    padding-bottom: 15px;
                }

                p {
                    font-size: 16px;
                }
            }
        }

        .faq-separator {
            width: 100%;
            padding: 40px 0 20px 0;
            display: none;

            @media screen and (max-width: 980px) {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 10px;
            }

            div {
                width: 4px;
            }

            div:nth-child(3) {
                height: 60px;
                background-color: $primary-color;
            }

            div:nth-child(1),
            div:nth-child(5) {
                height: 20px;
                background-color: rgba(0, 0, 0, 0.75);
            }

            div:nth-child(2),
            div:nth-child(4) {
                height: 40px;
                background-color: rgba(0, 0, 0, 0.75);
            }
        }

        .faq-questions {
            width: 30%;
            position: sticky;
            top: 20px;

            @media screen and (max-width: 980px) {
                width: 100%;
                position: static;
            }

            .faq-questions-title {
                h2 {
                    direction: rtl;
                    font-size: 40px;
                    font-weight: 700;
                    margin-bottom: 15px;
                }
                p {
                    direction: rtl;
                    font-size: 16px;
                }
            }
            .faq-questions-list {
                direction: rtl;
                padding: 0;
                margin-top: 60px;
                .faq-questions-item {
                    list-style: none;
                    padding-bottom: 15px;
                    transition: transform 0.2s;

                    &:hover {
                        color: $primary-color;
                        transform: translateX(-10px);
                    }

                    a {
                        text-decoration: none;
                        font-size: 24px;
                        font-weight: 700;
                        color: inherit;
                        transition: color 0.2s;
                    }
                }
            }
        }
    }
}

@import "footer";
