@import "includes/variabels";
@import "includes/utils";

$menuSearchBtnColor: $color-text;
$mobileMenuBtnColor: $color-text;

@import "header";

header {
  color: $color-text;

  .navbar-search-btn {
    color: $color-text;
  }

  .navbar-menu ul a {
    color: $color-text;
  }

  .navbar-menu-mobile-hamburger-menu {
    button {
      color: $color-text;
    }
  }
}

body {
  background-color: #130e0eff;
}

.home-container {
  animation-name: fadeInDown;
  animation-duration: 1s;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  section {
    width : 100%;
    height : 100vh;
    display : flex;
    justify-content : center;
    align-items : center;
    z-index: 20;
    text-align:right;
    p {
      width: 50%;
      margin-left: 300px;
      color : white;
      font-size: 50px;
      font-family: "Rajdhani", sans-serif;
    }
  }

  .home-image-container {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index : 10;

    img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

footer {
  display: none;
}
