@import "includes/variabels";
@import "includes/utils";

$menuSearchBtnColor: $color-text;
$mobileMenuBtnColor: $color-text;

@import "header";

header {
  color: $color-text;

  .navbar-search-btn {
    color: $color-text;
  }

  .navbar-menu ul a {
    color: $color-text;
  }

  .navbar-menu-mobile-hamburger-menu {
    button {
      color: $color-text;
    }
  }
}

body {
  background: black;
}

.home-container {
  animation-name: fadeInDown;
  animation-duration: 1s;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  section {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 20;
    text-align: right;

    p {
      width: 50%;
      margin-left: 300px;
      color: white;
      font-size: 50px;
      font-family: "Rajdhani", sans-serif;
    }
  }

  .home-image-container {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 10;

    img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}


.contact-content {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 100vh;

  .contact-content-form {
    height: 100%;

    form {
      margin-top: 25%;

      *::-webkit-input-placeholder {
      color:white;
      }

      input, textarea, button {
        @include input_reset();
        border: 2px solid grey;
        color: white;
        font-family: "Roboto", "sans-serif";
        font-size: 16px;
        transition: border-color 0.25s, background-color 0.25s;

        &:focus {
          border: 2px solid grey;
          border-bottom-color: $primary-color;
        }
      }

      input {
        padding: 0.75rem 1.25rem;
        width: 49%;
        font-weight: 300;

        @media screen and (max-width: 460px) {
          font-size: 14px;
          padding: 0.5rem 0.75rem;
        }
      }

      & > div {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      textarea {
        margin-top: 0.3rem;
        padding: 0.75rem 1.25rem;
        font-weight: 300;
        @media screen and (max-width: 460px) {
          font-size: 14px;
          padding: 0.5rem 0.75rem;
        }
      }

      button {
        border-color: $primary-color;
        font-weight: 700;
        padding: 0.8rem 0;
        color: $primary-color;
        margin-top: 4px;

        &:focus {
          border: 2px solid $primary-color;
        }

        &:hover {
          color: $color-text;
          background-color: $primary-color;
        }

        @media screen and (max-width: 460px) {
          font-size: 14px;
          padding: 0.5rem 0;
        }
      }
    }
  }
}

.footer {
  display: none;
}
