@import "includes/variabels";
@import "includes/utils";

$menuSearchBtnColor: $color-text;
$mobileMenuBtnColor: $color-text;

@import "header";

header {
  color: $color-text;

  .navbar-search-btn {
    color: $color-text;
  }

  .navbar-menu ul a {
    color: $color-text;
  }

  .navbar-menu-mobile-hamburger-menu {
    button {
      color: $color-text;
    }
  }
}

body {
  background-color: #130e0eff;
}

.home-container {
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  animation-name: fadeInDown;
  animation-duration: 1s;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .home-image-container {
    position: relative;
    width: 100%;
    height: 100%;
    img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}


@import "footer";

footer{
display:none;}
