@import "includes/variabels";
@import "includes/utils";

@import "header";

header {
  color: $color-black;

  .navbar-search-btn {
    color: $color-black;
  }

  .navbar-menu ul a {
    color: $color-black;

    @media screen and (max-width: 700px) {
      color: $color-text;
    }
  }

  .navbar-menu-mobile-hamburger-menu {
    button {
      color: $color-black;
    }
  }
}

main {
  margin-top: 10rem;
}

.portfolio-container {
  padding: 0 3rem;

  @media screen and (max-width: 890px) {
    padding: 0 2rem;
  }

  @media screen and (max-width: 390px) {
    padding: 0 1rem;
  }

  .portfolio-card {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    padding: 4.5rem 0;

    @media screen and (max-width: 890px) {
      position: relative;
      align-items: flex-end;
      overflow: hidden;
      border-radius: 10px;
      box-shadow: 0px 15px 20px 0.1px $color-shadow;
      padding: 3rem 0 0 0;
      margin: 6rem 0;
      animation-name: fadeInUp;
      animation-duration: 0.5s;
    }

    @media screen and (max-width: 390px) {
      padding: 0;
    }

    .portfolio-card-images {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 500px;

      @media screen and (max-width: 890px) {
        display: none;
      }

      div {
        position: absolute;
        animation-name: fadeInUp;
        animation-duration: 0.5s;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;

        img {
          position: absolute;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

        &:nth-child(1) {
          width: 190px;
          height: 190px;
          z-index: 30;
          animation-delay: 0.4s;
          // background-image: url("../assets/img/testImg3.jpg");

          @media screen and (max-width: 1370px) {
            width: 190px;
            height: 190px;
          }

          @media screen and (max-width: 1230px) {
            width: 176px;
            height: 176px;
          }
        }

        &:nth-child(2) {
          width: 394px;
          height: 295px;
          z-index: 10;
          animation-delay: 0.2s;
          // background-image: url("../assets/img/testImg2.png");

          @media screen and (max-width: 1370px) {
            width: 394px;
            height: 295px;
          }

          @media screen and (max-width: 1230px) {
            width: 389px;
            height: 291px;
          }
        }

        &:nth-child(3) {
          width: 603px;
          height: 452px;
          z-index: 20;
          // background-image: url("../assets/img/testImg.png");

          @media screen and (max-width: 1230px) {
            width: 389px;
            height: 291px;
          }
        }
      }
    }

    .portfolio-card-image-mobile {
      position: absolute;
      top: 0;
      object-fit: cover;
      display: none;
      pointer-events: none;
      width: 100%;
      height: 100%;
      border-radius: 10px;
      @media screen and (max-width: 890px) {
        display: block;
      }
    }

    .portfolio-card-content {
      animation-name: fadeInUp;
      animation-duration: 0.5s;

      @media screen and (max-width: 890px) {
        width: 100%;
        padding-top: 5rem;
        border-radius: 10px;
        animation-delay: 0.5s;
        background: linear-gradient(
          0deg,
          rgba(0, 0, 0, 1) 0%,
          rgba(0, 0, 0, 0.6474790599833684) 61%,
          rgba(255, 255, 255, 0) 100%
        );
      }

      .portfolio-card-content-wrapper {
        width: 100%;
        height: 100%;
        @media screen and (max-width: 890px) {
          padding: 1rem;
        }
        .portfolio-card-content-title {
          h1 {
            padding: 0;
            margin: 0;
            font-size: 52px;
            font-weight: 700;
            font-family: "Rajdhani", sans-serif;

            @media screen and (max-width: 970px) {
              font-size: 42px;
            }
            @media screen and (max-width: 890px) {
              color: $color-text-2;
              font-size: 32px;
            }
            @media screen and (max-width: 650px) {
              font-size: 28px;
            }
            @media screen and (max-width: 580px) {
              font-size: 24px;
            }
            @media screen and (max-width: 390px) {
              font-size: 20px;
            }
            // @media screen and (max-width: 580px) {
            //   font-size: 24px;
            // }
          }

          div {
            margin-top: 1rem;
            width: 60px;
            height: 5px;
            background-color: $color-black;

            @media screen and (max-width: 890px) {
              background-color: $color-text-2;
            }
            @media screen and (max-width: 650px) {
              height: 4px;
            }
            @media screen and (max-width: 580px) {
              height: 3px;
              width: 50px;
            }
          }
        }

        .portfolio-card-content-text {
          margin-top: 1.5rem;

          p {
            max-height: 250px;
            overflow: hidden;
            display: block;
            font-family: "Roboto Condensed", sans-serif;
            font-size: 16px;
            font-weight: 300;
            @media screen and (max-width: 890px) {
              color: $color-text-2;
              max-height: 100px;
            }
            @media screen and (max-width: 650px) {
              font-size: 14px;
            }
            @media screen and (max-width: 390px) {
              font-size: 12px;
            }
          }
        }

        .portfolio-card-content-btn {
          position: relative;
          margin-top: 3rem;
          display: flex;
          justify-content: center;
          align-items: center;
          overflow: hidden;

          @media screen and (max-width: 890px) {
            button {
              color: $color-text;
              border-color: $color-text !important;
              border-radius: 4px;
              &:focus {
                border: 2px solid $color-text;
              }
            }
          }

          &:hover {
            button {
              color: $color-text;
            }

            div {
              left: 0;
            }

            @media screen and (max-width: 890px) {
              button {
                color: $color-black;
              }
            }
          }

          a {
            text-decoration: none;
            width: 100%;
          }

          button {
            @include input_reset();
            position: relative;
            border: 2px solid $color-black;
            padding: 0.8rem 0;
            font-family: "Rajdhani", sans-serif;
            font-size: 17px;
            font-weight: 700;
            letter-spacing: 0.12rem;
            z-index: 20;
            width: 100%;
            transition: color 0.7s cubic-bezier(0.27, 0.12, 0, 1.01);
            &:focus {
              border: 2px solid $color-black;
            }

            @media screen and (max-width: 390px) {
              font-size: 14px;
              padding: 0.7rem 0;
            }
          }

          .portfolio-card-content-btn-bg {
            position: absolute;
            left: -130%;
            width: 120%;
            height: 300px;
            background-color: $color-black;
            transform: rotateZ(15deg);
            z-index: 10;
            transition: left 0.7s cubic-bezier(0.27, 0.12, 0, 1.01);

            @media screen and (max-width: 890px) {
              transition: left 1.2s cubic-bezier(0.27, 0.12, 0, 1.01);
              background-color: transparentize(
                $color: $color-text,
                $amount: 0.1
              );
            }
          }
        }
      }
    }
  }
}

.portfolio-card-right {
  flex-direction: row-reverse;

  @media screen and (max-width: 890px) {
    flex-direction: column;
  }

  .portfolio-card-images {
    @media screen and (max-width: 1420px) {
      margin-right: 0;
      margin-left: 0;
    }

    div {
      &:nth-child(1) {
        right: 460px;
        top: 210px;

        @media screen and (max-width: 1370px) {
          right: 400px;
        }

        @media screen and (max-width: 1230px) {
          right: 300px;
        }
      }

      &:nth-child(2) {
        right: 20px;
        top: 130px;

        @media screen and (max-width: 1370px) {
          right: -35px;
        }

        @media screen and (max-width: 1230px) {
          right: -5px;
        }
      }

      &:nth-child(3) {
        right: 90px;
        top: -100px;

        @media screen and (max-width: 1370px) {
          right: 50px;
        }

        @media screen and (max-width: 1230px) {
          top: -40px;
          right: 80px;
        }

        @media screen and (max-width: 1240px) {
          right: 50px;
        }
      }
    }
  }

  .portfolio-card-content-wrapper {
    padding-right: 7.5rem;
    direction: rtl;

    @media screen and (max-width: 890px) {
      direction: ltr;
      padding-right: 0;
    }
  }
}

.portfolio-card-left {
  @media screen and (max-width: 1420px) {
    margin-left: 0;
    margin-right: 0;
  }

  .portfolio-card-images {
    div {
      &:nth-child(1) {
        left: 460px;
        top: 210px;

        @media screen and (max-width: 1370px) {
          left: 400px;
        }

        @media screen and (max-width: 1230px) {
          left: 300px;
        }
      }

      &:nth-child(2) {
        left: 20px;
        top: 130px;

        @media screen and (max-width: 1370px) {
          left: -35px;
        }

        @media screen and (max-width: 1230px) {
          left: -5px;
        }
      }

      &:nth-child(3) {
        left: 90px;
        top: -100px;

        @media screen and (max-width: 1370px) {
          left: 50px;
        }

        @media screen and (max-width: 1230px) {
          top: -40px;
          left: 80px;
        }

        @media screen and (max-width: 1240px) {
          left: 50px;
        }
      }
    }
  }

  .portfolio-card-content-wrapper {
    padding-left: 7.5rem;
    direction: ltr;

    @media screen and (max-width: 890px) {
      padding-left: 0;
    }
  }
}

.portfolio-container-center-line {
  position: fixed;
  left: 50%;
  top: 0;
  width: 1px;
  height: 100%;
  transform: translate(-50%, 0);
  background-color: $color-black;

  @media screen and (max-width: 890px) {
    display: none;
  }
}

@import "footer";
